<!DOCTYPE html>
<html>

    <head>
        <title>Owen Evans - Junior Developer</title>
        <link rel="stylesheet" href="static/styles/page_2.css" type="text/css"/>
        <script src="https://kit.fontawesome.com/c164f8a50b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <div class=container>


            <div class=block_1>

                <p>Owen Evans</p>

                <img class=img_me src="static\meNew.jpg" alt="Selfie!">

                <p class=smalltxt>Junior Developer</p>

                <div class=icons>

                <a href="https://www.linkedin.com/in/owen-evans-6b21ba20b/" target="_blank"><i class="fab fa-linkedin"></i></a>
                <a href="https://github.com/OwenEDev" target="_blank"><i class="fab fa-github-square"></i></a>

            </div>

            <p class=smalltxt>owendavidevans@outlook.com</p>
            <p class=smalltxt>07710677455</p>

            </div>

            <div class=block_2>

                <p>My Work</p>

                <div class=sub_block_container>

                 <a href="owenevans.uk/youtshoppinglist.html">   
                <div class=sub_block>

                    <p class=smalltxt>Your Shopping List</p>

                    <p class=desctxt>An android app developed in Python that helps you make your shopping lists!</p>

                    <p class=infotxt>Click for more info</p>

                </div>
            </a>

            <a href="owenevans.uk/portfoliosite.html">
                <div class=sub_block>

                    <p class=smalltxt>Portfolio Website</p>

                    <p class=desctxt>A website developed in HTML and CSS to display my projects...you're on it right now!</p>

                    <p class=infotxt2>Click for more info</p>

                </div>
            </a>

            </div>



            </div>

            <div class=button_div>
                <a href="owenevans.uk/page_2.html"><button>Return</button></a>
            </div>

        </div>






    </body>
    
</html>
