<!DOCTYPE html>
<html>

    <head>
        <title>Owen Evans - Junior Developer</title>
        <link rel="stylesheet" href="static/styles/page_2.css" type="text/css"/>
    
    </head>

    <body>
        
        <div class=container>


            <div class=block_1>

                <p>Owen Evans</p>

                <img class=img_me src="static\meNew.jpg" alt="Selfie!">

            </div>

            <div class=block_2>

                <p>My Work</p>

            </div>



        </div>






    </body>
    
</html>
