<!DOCTYPE html>

<html>

<head>
    <title>Owen Evans - Junior Developer</title>
    <link rel="stylesheet" href="static/styles/page_1.css" type="text/css"/>

</head>

<body>

    <div class=intro_text>
        <p id=introtext><span id=introtext_span>Hi, I'm Owen</span></p>
    </div>

    <div class=intro_image>
        <img class=me_img src="static\meNew.jpg" alt="My Selfie">
    </div>

    <div class=work_button style="text-align: center;">

        <a href="/my_work"><button class=button>My Work</button></a>

    </div>


</body>

</html>