<!DOCTYPE html>

<html>

    <head>
        <title>Owen Evans - Junior Developer</title>
        <link rel="stylesheet" href="static/styles/portfoliosite.css" type="text/css"/>
        <script src="https://kit.fontawesome.com/c164f8a50b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <div class=container>

            <div class=block_2>

                <p>Portfolio Website</p>

                <p class=appDesc>This website was made with Python, Flask, HTML, and CSS.
                    The purpose of this site is to show potential employers (that's you, hopefully!) my coding projects.
                    I tried to make the website responsive, interactive, and good-looking, as well as informative and intuitive.
                    In the future, I would like to incorporate JavaScript technologies into this website to improve interactivity and animations.
                    I would also like to add a blog section, where I can talk about programming, and different projects I am working on.
                </p>

                <a href="https://github.com/OwenEDev/Portfolio-Website" target="_blank"><button class=gitButton>Github Repo</button></a>


            </div>

            <div class=button_div>
                <a href="http://owenevans.uk/page_2.html"><button>Return</button></a>
            </div>

        </div>





    </body>


</html>