<!DOCTYPE html>

<html>

    <head>
        <title>Owen Evans - Junior Developer</title>
        <link rel="stylesheet" href="static/styles/yourshoppinglist.css" type="text/css"/>
        <script src="https://kit.fontawesome.com/c164f8a50b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <div class=container>


            <div class=block_1>

                <img src="static\styles\recipes.PNG" alt="App Screenshots">

            </div>

            <div class=block_2>

                <p>Your Shopping List</p>




            </div>

            <div class=button_div>
                <a href="/my_work"><button>Return</button></a>
            </div>

        </div>





    </body>


</html>