<!DOCTYPE html>

<html>

    <head>
        <title>Owen Evans - Junior Developer</title>
        <link rel="stylesheet" href="static/styles/yourshoppinglist.css" type="text/css"/>
        <script src="https://kit.fontawesome.com/c164f8a50b.js" crossorigin="anonymous"></script>
    </head>

    <body>
        
        <div class=container>


            <div class=block_1>

                <img src="static\styles\recipes.PNG" alt="App Screenshots">
                <img src="static\styles\add recipe.PNG" alt="App Screenshots">
                <img src="static\styles\shopping list.PNG" alt="App Screenshots">

            </div>

            <div class=block_2>

                <p>Your Shopping List</p>

                <p class=appdesc>Your Shopping List is an app I developed using Python, KivyMD and SQLite.
                    The user can add the ingredients to each of their recipes using the add recipe button, the recipe will then be saved in storage until deleted.
                    If selected, the ingredients for the selected recipe will be added to the shopping list section of the app,
                    allowing users, especially users who cook a lot, to create shopping lists more quickly and simply.
                    In the future, I would like to improve the UI design of this app and publish it on the google play store.
                    
                </p>

                <a href="https://github.com/OwenEDev/YourShoppingList" target="_blank"><button class=gitButton>Github Repo</button></a>


            </div>

            <div class=button_div>
                <a href="owenevans.uk/page_2.html"><button>Return</button></a>
            </div>

        </div>





    </body>


</html>