@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body{
    padding: 40px;
    background-color: #FFFFEA;
    margin: 0;
    overflow: scroll;
    height: 100%;
}

.intro_text {
    padding-top: 100px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#introtext {
    color: #FF5E5B;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 50px;
    text-align: center;

    overflow: hidden;
    border-right: 3px solid #FF5E5B;
    white-space: nowrap;
    margin: 0 auto;

    animation: typing 1s steps(35, end) 0.5s 1 normal both,
    cursor-flash .9s step-end infinite;
}

.intro_image {
    padding-top: 100px;
}

.me_img {
    display: block;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;

    overflow: hidden;

    animation: img_fade 1.5s ease-out .7s 1 normal both,
    img_transform 1.5s ease-out .7s;

}

.work_button {
    padding-top: 100px;
}

.button {
    background-color: #FF5E5B;
    color: #FFFFEA;
    padding: 14px 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    animation: img_fade 1.5s ease-out 1.9s normal both
    
}

.button:hover {
    transform: translateY(-4px);
    box-shadow: 0 9px #D8D8D8;
}

.button:active {
    transform: translateY(4px);
    box-shadow: none;
}


@keyframes typing{
    from {width: 0;}
    to {width: 100%;}
}

@keyframes cursor-flash {
from, to {border-color: transparent;}
50% {border-color: #FF5E5B;}
}

@keyframes img_fade {
    from {opacity: 0%;}
    to {opacity: 100%;}
}

@keyframes img_transform {
    from {transform: scale(.1) rotate(0deg);}
    to {transform: scale(1.0) rotate(360deg);}
}








