@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    padding: 40px;
    background-color: #FFFFEA;
    margin: 0;
    overflow: scroll;
    height: 100%;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    color: #FFFFEA;
    text-align: center;
}

.container {
    padding: 20px;
    width: 1100px;
    height: 700px;
    display: block;
    margin: auto;
    margin-top: 75px;
}

.block_1 {
    border: 3px solid #FF5E5B;
    background-color: #FF5E5B;
    width: 300px;
    height: 500px;
    margin-top: 100px;
    float: left;
    border-radius: 50px;
}

.block_1:hover {
    transform: scale(1.01);
}

.img_me {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-left: 75px;
}

.smalltxt {
    font-size: 20px;
}

.infotxt {
    font-size: 15px;
    margin-top: 55px;
}

.infotxt2 {
    font-size: 15px;
    margin-top: 35px;
}

.desctxt {
    font-size: 15px;
}

.icons {
    padding: 5px;
    width: 80px;
    margin-left: auto;
    margin-right: auto;
}

.fab {
    color: #FFFFEA;
    font-size: 40px;
    padding: 1px;
}

.fab:hover {
    transform: scale(1.1);
}

.block_2:hover {
    transform: scale(1.01);
}

.block_2 {
    border: 3px solid #FF5E5B;
    background-color: #FF5E5B;
    width: 765px;
    height: 500px;
    margin-top: 100px;
    margin-left: 20px;
    float: left;
    border-radius: 50px;
}

.sub_block_container {
    width: 645px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 85px;

}

.sub_block {
    border: 3px solid #FFFFEA;
    width: 300px;
    height: 200px;
    float: left;
    margin-left: 10px;
    border-radius: 10%;
}

.sub_block:hover {
    transform: scale(1.01);
    cursor: pointer;
}



button {
    background-color: #FF5E5B;
    color: #FFFFEA;
    padding: 14px 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    animation: img_fade 1.5s ease-out 1.9s normal both;
    margin: auto;
}

.button_div {
    width: 140px;
    height: 50px;
    margin: auto;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0 9px #D8D8D8;
}

button:active {
    transform: translateY(4px);
    box-shadow: none;
}
