@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    padding: 40px;
    background-color: #FFFFEA;
    margin: 0;
    overflow: scroll;
    height: 100%;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    color: #FFFFEA;
    text-align: center;
}