@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
    padding: 40px;
    background-color: #FFFFEA;
    margin: 0;
    overflow: scroll;
    height: 100%;
}

p {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 30px;
    color: #FFFFEA;
    text-align: center;
}

.appdesc {
    font-size: 23px;
}
.container {
    padding: 20px;
    width: 1100px;
    height: 700px;
    display: block;
    margin: auto;
    margin-top: 75px;
}

.block_1 {
    border: 3px solid #FF5E5B;
    background-color: #FF5E5B;
    width: 300px;
    height: 500px;
    margin-top: 100px;
    float: left;
    overflow: hidden;
    border-radius: 50px;

}

.block_1:hover {
    transform: scale(1.01);
}

img {
    display: block;
    width: 270px;
    height: 470px;
    border-radius: 50px;
    margin: auto;
    margin-top: 15px;
    margin-left: 15px;
}

.block_1 img{
    opacity: 0;
    animation: imgSlide 15s infinite;
    position: absolute;
}

.block_2 {
    border: 3px solid #FF5E5B;
    background-color: #FF5E5B;
    width: 765px;
    height: 500px;
    margin-top: 100px;
    margin-left: 20px;
    float: left;
    border-radius: 50px;
}

.block_2:hover {
    transform: scale(1.01);
}

button {
    background-color: #FF5E5B;
    color: #FFFFEA;
    padding: 14px 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    margin: auto;
    margin-top: 50px;
}

.gitButton {
    background-color: #FFFFEA;
    color: #FF5E5B;
    padding: 14px 40px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    border: none;
    margin: auto;
    margin-left: 290px;
    
}
.button_div {
    width: 140px;
    height: 50px;
    margin: auto;
}

button:hover {
    transform: translateY(-4px);
    box-shadow: 0 9px #D8D8D8;
}

button:active {
    transform: translateY(4px);
    box-shadow: none;
}

@keyframes imgSlide {
    25%{opacity: 1;} 40%{opacity: 0;}
}
.block_1 img:nth-child(1){animation-delay: 0s;}
.block_1 img:nth-child(2){animation-delay: 5s;}
.block_1 img:nth-child(3){animation-delay: 10s;}